* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #1A2A5E;
    color: white;
    padding: 15px 0;
    border-bottom: 1px solid #F6EEE1; 
    font-family: "Fonte texto";
}

  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F6F6EE;
    color: #0B1956;
  }
  
  #container-principal {
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 30px;
    background-color: #F7F4ED;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #pergunta {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #0B1956;
    line-height: 1.5;
  }
  
  button {
    padding: 15px 30px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0B1956;
    color: #F7F4ED;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .opcao.selecionado {
    background-color: #426CC2;
    color: white;
}
  
  .escondido {
    display: none;
  }
  
  #quiz {
    animation: aparecer 1s ease;
  }
  
  #proximo {
    margin-top: 20px;
    display: none;
  }

  #proximo:hover {
    background-color: white;
    color: #0B1956;
  }
  
  #opcoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
  }
  
  .opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #0B1956;
    color: #F7F4ED;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: aparecer 0.5s ease;
    height: 150px; /* Aumenta a altura das opções */
  }
  
  .opcao:hover {
    background-color: #426CC2;
    color: #0B1956;
  }
  


  .imagem-opcao {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  #resultado {
    animation: aparecer 1s ease;
  }
  
  #resumo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0B1956;
    margin-top: 20px;
  }
  
  #tempo {
    font-size: 1.2rem;
    color: #0B1956;
    margin-top: 10px;
  }
  .opcao.selecionado {
    background-color: #426CC2;
    color: #0B1956;
  }
  
  @keyframes aparecer {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  